@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Validate Credit card number</h1>
    <form method="POST">
        <p>
            <label for="creditCards">Please insert Credit cards number to validate below (one per row)</label><br/>
            <textarea id="creditCards" name="creditCards" rows="15" cols="50">
           </textarea><br />
            <input type="submit" />

        </p>
    </form>  
   
</div>
